*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
    --primary-color: #ffbd39;
    --text-color: #000000;
    --black-color: #212121;
    --gray-color: #a5a5a5;
    --white-color: rgb(238, 249, 249);
    --shadow-color:rgba(0, 0, 0, 0.4);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gabriela', Arial, sans-serif; 
    box-sizing: border-box;
    background-color: var(--shadow-color);
    color: var(--white-color);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--black-color);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    border-bottom: 0.5px solid var(--gray-color);
}

.logo {
    color: var(--primary-color);
    font-size: 2rem;
    font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
}

.logo a {
    color: var(--primary-color);
    font-size: 3rem;
    letter-spacing: 2px;
}


.menu-button {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: var(--white-color);
    padding: 1em;
}

.resume {
    padding: .5em;
    border: 1px solid var(--primary-color);

}

.resume a {
    color: var(--white-color);
}
