*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
    --primary-color: #ffbd39;
    --text-color: #000000;
    --black-color: #212121;
    --white-color: rgb(238, 249, 249);
    --shadow-color:rgba(0, 0, 0, 0.4);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Gabriela', Arial, sans-serif; 
    box-sizing: border-box;
    background-color: var(--shadow-color);
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--black-color);
}

