:root {
    --primary-color: #ffbd39;
    --text-color: #000000;
    --black-color: #212121;
    /* --gray-color: #a5a5a5; */
    --white-color: rgb(238, 249, 249);
    --shadow-color:rgba(0, 0, 0, 0.4);
}
@media (max-width: 1000px) {
    .profile {
        flex-direction: column;
        padding-left: 1em;
        padding-right: 1em;
    }

    .profile-statement {
        width: 100%;
    }

    .profile-image {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .logo {
        padding-left: 1em;
    }

    .logo a {
        font-size: 2rem;
    }

    .resume {
        display: none;
    }


    .navbar a {
        padding-left: 0;
    }

}

@media (max-width: 600px) {
    header {
        display: block;
        width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: none;
        border-radius: none;
    }

    .header.border-style {
        border-bottom: 0.5px solid var(--gray-color);
        border-radius: 10px;
    }

    .logo a {
        font-size: 1.8rem;
    }

    .menu-button {
        display: flex;
        align-items: flex-end;
    }
    
    .navbar {
        display: none;
        width: 100%;
        padding: 0;
        background-color: var(--shadow-color);
    }

    .navbar.active {
        display: block;
        width: 100%;
    }

    .navbar a {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: .2em;
        padding-left: 1em;
    }

    .navbar a:last-child {
        border-radius: 10px;
    }

    .navbar a:not(:last-child) {
        border-bottom: .5px solid var(--gray-color);
    }

}


@media (max-width: 500px) {
    .logo a {
        font-size: 1.6rem;
    }
}




